.layout {
  height: 100vh;
  overflow: hidden;
}

.header {
  height: 250px;
  background: url("https://s3-alpha-sig.figma.com/img/8d3d/65b9/33b293cbf00c9872b9fa77d7474a94d3?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NP2Mh0o9P-Pg-iSsuoTMbkSEdKbTT3HZFQpT9zg4DclhakDTHlFoq7k6WX51iR0dFl6UwBIAK6NH8QF-pJya5gc9oRIZyaAoUns01I~wznuDn7Bh0rSMBh61~DukGVbr-XKdjBESLoN9VByZvLbbyKqv~b-Vj2CZlXMFXfc9gBBAfdThKNwtbHcACXSxpnDa5zit~lYm2p8gSh8fTBnGDerpMaZNlWuqGkdyc6F72tOYkaTzo5FsDK0ZPjQoB1mZKJw4ogVbQAbjBk~ngoahym837VmpcZZiRcMjkUV4BIF~MQhZE5EaYhpkFjwLom580~NXVTpdBlj8B-wGzlycyQ__");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    opacity: 0.6;
  }
}

.logo-container {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  background: url("./../icons/logo.svg") no-repeat;
  background-position: center center;
  background-size: cover;
}
