:root {
  $cardItemWidth: 250px;
  $cardItemHeight: 320px;
  $cardItemBorderRadius: 30px;
  $cardItemImgHeight: 135px;
  $addItemBgColor: #4fdd88;
  $cardGrayColor: #c4c4c4;
  $buttonLinearBgColor: linear-gradient(90deg, #ffb763 0%, #ff5757 100%);
}
